{% extends "::base.html.twig" %}

{% block title %}register{% endblock %}

{% block body %}
<h1>Welcome to the Login:register page</h1>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	<br />
    {{ form_row(form.username) }}
    {{ form_errors(form.username) }}

    {{ form_row(form.plainPassword) }}

    {{ form_row(form.firstname) }}
    {{ form_errors(form.firstname) }}
    <br>
    {{ form_row(form.lastname) }}
    {{ form_errors(form.lastname) }}
    <br>


    {{ form_row(form.displayname) }}
    {{ form_label(form.gender, 'gioi tinh', {
       'label_attr': {'class': 'CUSTOM_LABEL_CLASS'}
		}) 
	}}
    {{ form_widget(form.gender, { 'attr': {'class': 'class_gender'} }) }}
    {{ form_row(form.birthday) }}

    

    
	<br>
    <button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}